@import url(https://fonts.googleapis.com/css?family=Dosis);

$lightblue: #168590;
$darkblue: #233752;
$lightgray: #F1F1F1;
$white: #ffffff;
$shadow: #999999;

.shadow {
  fill:$shadow;
  opacity:0.5;
} 
.white {fill: $white;} 
.darkblue {fill: $darkblue;}

body {
  background-color: $lightgray;
  font-family: 'Dosis', sans-serif;
}
.wrapper {
  width: 200px;
  height: 200px;
  margin: auto;
  padding-right: 100px;
  text-transform: uppercase;
  h2 {
    position: absolute;
    font-size: 90px;
    left: 50%;
    transform: translateX(-50%);
    top: 150px;
    color: $lightblue;
    letter-spacing: 4.3px;
    display: none;
  }
  button {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: $darkblue;
    border: 2px solid $darkblue;
    cursor: pointer;
    color: $white;
    padding: 10px 20px;
    text-transform: uppercase;
    font-family: 'Dosis', sans-serif;
    font-size: 18px;
    transition:all .25s ease-in-out;
    &:hover {
      background-color: transparent;
      color: $lightblue;
    }
    &:focus {outline:0;}
  }
  svg {
    cursor: pointer;
    width: 100%;
    offset-path: path("M180.3,318.3c0,0,19.8-73.6,84.7-73.2c89,0.4,120.5,149.7-29.5,149.7c-91,0-125.2-66.1-120-108.9c7.3-60,38.2-104,124.4-142.1C311.1,112.2,699.2,6.3,699.2,6.3");
    transform: rotate(60deg);
    transition: margin .25s ease-in-out;
    .st0 {
      transition: opacity .25s ease-in-out;
    }
    &:hover {
      margin-top: -10px;
      .st0 {
        opacity: 0;
      }
    }
  }

  &.active {
    svg {
      animation: plane 1s ease-in;
    }     
  }

  @keyframes plane {
    0% {
      offset-distance: 0;
      opacity: 0;
    }
    75% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      offset-distance: 100%;
      transform: rotate(30deg);
    }
  }
}